
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mycrypto</title>
    <style>
       .form-inline {
        float: right;
      }
   
    
    </style>
  </head>
  <body>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="{% url 'home' %}"><h2>Mycryptocurrencies</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Link <span class="sr-only"></span></a>
          </li>
          </li>
      </ul>

        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'result' %}">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Cryptocurrencies" name="q" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <br/>

    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cryptocurrency</th>
            <th scope="col">Value</th>
            <th scope="col">MAX/24h</th>
            <th scope="col">MIN/24h</th>
            <th scope="col">Market</th>
          </tr>
        </thead>
          <tbody>
        {% for key,value in price.DISPLAY.items %}
   
          <tr>
            <th scope="col">{{key}}</th>
            <h5>
            <td><h6>{{value.USD.PRICE}}-{{value.EUR.PRICE}}</h6></td>
            <td><h6>{{value.USD.HIGHDAY}}-{{value.EUR.HIGHDAY}}</h6></td>
            <td><h6>{{value.USD.LOWDAY}}-{{value.EUR.LOWDAY}}</h6></td>
            <td><h6>{{value.USD.MKTCAP}}-{{value.EUR.MKTCAP}}</h6></td>
          </h5>
          </tr>
       
        {% endfor %}
      </tbody>
      </table>

        
    <hr><br/> <br/>
    <div class="container" >
      <div class="row">
        
        {% for x in api.Data %}
          <div class="col-sm">
           <div class="card" style="width: 18rem;">
             <img src="{{x.imageurl}}" class="card-img-top" alt="{{x.source}}">
             <div class="card-body">
              <h5 class="card-title">{{x.title}}</h5>
              <p class="card-text">{{x.body}}</p>
              <a href="{{x.url}}" class="btn btn-primary">Read more..</a>
             </div>
           </div>
           <br/>
          </div>
        {% endfor %}


      </div>
  </div>


  </body>
</html>